<div class="row">
  <!-- Cheese list -->
  <div class="span9">
    <div id="cheese_list"></div>
  </div>


  <!-- Login and Sign up -->
  <div class="span3">
    <div class="login-form">
      <h2>Log in</h2>
      <form id="login_form" method="post" action="/login">
        <p><input type="text" name="email" placeholder="Email address"></p>
        <p><input type="password" name="password" placeholder="Password"></p>
        <p><input type="submit" value="Log in"></p>
      </form>
    </div>
    <div class="signup-form">
      <h2>Sign up</h2>
      <%= form_for @user, :url => signup_url, :html => { :autocomplete => "off" } do |f| %>
        <p><%= f.text_field :first_name, :placeholder => 'First name' %></p>
        <p><%= f.text_field :last_name, :placeholder => 'Last name' %></p>
        <p><%= f.text_field :email, :placeholder => 'Email address' %></p>
        <p><%= f.password_field :password, :placeholder => 'Password' %></p>
        <p><%= f.password_field :password_confirmation, :placeholder => 'Confirm password' %></p>
        <p><%= f.file_field :avatar %></p>
        <p><%= f.submit "Sign up" %></p>
      <% end %>
    </div>
  </div>
</div>